.header {
    background-color: var(--header-color);
    display: flex;
    padding: 24px 120px;
    justify-content: space-between;
    margin-bottom: 4px;
}

.navigation {
    display: flex;
    gap: 32px;
}

.navLink {
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navLink:hover {
    color: var(--focus-color);
}

.navActive {
    color: var(--focus-color);
}