/* src/index.css */
:root {
  --text-color: #101828;
  --gray-color: #8d929a;
  --light-gray-color: #dadde1;
  --focus-color: #0b44cd;
  --akcent-color: #3470ff;
  --header-color: #f2f4f7;
  --white-color: #ffffff;
  --inputs-color: #f7f7f7;
}

body {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}